body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: skyblue;
}

header {
    background-color: blue;
    color: white;
    padding: 15px;
    text-align: center;
    padding: 10px;
    border-radius: 50px;

}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    border-radius: 15px;
}

nav a:hover {
    text-decoration: underline;
}

.main {
    padding: 20px;
}

.card {
    background: skyblue;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.profile {
    width: 150px;
    border-radius: 50%;
}

.bar {
    background: white;
    height: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.fill {
    height: 100%;
    background: red;
    border-radius: 10px;
}

.html { width: 60%; }
.css { width: 50%; }
.JavaScript { width: 40%; }
.comm { width: 70%; }
.team { width: 60%; }

.lesson:hover {
    background-color: gray;
}

.lesson {
  border: 4px solid white;  
  text-align: center;
  background: aliceblue;
  border-radius: 50px;
    
    
}


input, textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    width: 800px;
    border-radius: 10px;
}

button {
    padding: 8px 15px;
    background: blue;
    color: white;
    border: none;
    border-radius: 10px;
}

button:hover {
    background: skyblue;
    transition: color 0.3s ease;
}

footer{
    border:4px solid blue;
    text-align: center;
    padding: 10px;
    border-radius: 50px;
    background: blue;
    color: white;
    
}